.about-me-card {
  background: rgba(68, 45, 163, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(68, 45, 163, 0.3);
}

.about-me-card .content {
  background: rgba(167, 152, 209, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(167, 152, 209, 0.3);
}

.about-me-card {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.25s ease-out;
}

.about-me-card.visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.25s ease-out;
}
