.project-card,
.about-me-card,
.contacts-card {
  width: 400px;
  overflow: clip;
  visibility: hidden;
  scale: 0;
  background: rgba(0, 0, 0, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.project-card.visible,
.about-me-card.visible,
.contacts-card.visible {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  visibility: visible;
  transition: all 0.2s ease;
  scale: 1;
}

.glow {
  z-index: 7;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 180px 180px 110px 60px rgba(68, 45, 163, 0.5);
}

.glow.top-left {
  left: -180px;
  top: -180px;
}

.glow.right-bottom {
  bottom: 180px;
  right: 180px;
}

.layover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 430px) {
  .project-card,
  .about-me-card,
  .contacts-card {
    width: 90%;
  }
}
