.clipboard {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  width: calc(66.667% - 16px);
  position: absolute;
  top: calc(50% - 4px);
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.clipboard.visible {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
