.time {
  font-size: 72px;
  font-weight: bold;
}

.time .dots {
  animation: blink 2s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 365px) {
  .time {
    font-size: 64px;
  }
}
