.clipboard {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0.75rem;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.clipboard.visible {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
