@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-ms_black: #28282b;
  --color-ms_purple: #442da3;
  --color-ms_dark-purple: #00001a;
  --color-ms_dark: #02010d;
  --color-ms_muted: #dadada;
  --color-ms_light-gray: #848482;
  --color-ms_dark-gray: #282828;
  --color-ms_light-purple: #a798d1;
  --font-roboto: "Roboto", sans-serif;
}

* {
  font-family: var(--font-roboto);
}

.app {
  background: radial-gradient(
    ellipse 100% 100% at top center,
    var(--color-ms_light-purple),
    var(--color-ms_purple) 60%,
    var(--color-ms_dark-purple) 80%,
    black 100%
  );
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layover.glass {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

#cursor {
  position: absolute;
  translate: -50% -50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 70px 70px 40px 20px white;
}

#cursor.mouse-down {
  box-shadow: 70px 70px 30px 15px white;
  transition: all 0.1s ease;
}

.light {
  position: absolute;
  translate: -50% 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: saturate(200%);

  animation: LightPulse 5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

/* infinite scroll animation */
.scrolling-text {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  margin: 0;
}
.RightToLeft span {
  display: inline-block;
  font-size: 148px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  /* text-shadow: 10px -2px 10px rgba(255, 255, 255, 0.6); */
  margin: 0 2rem;
  line-height: 155px;
}

.RightToLeft {
  animation: RightToLeft 20s infinite linear;
}

.iphone-container {
  display: grid;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 365px;
}
.iphone-container .iphone-img {
  max-width: 100%;
  height: auto;
}

.dinamic-component,
.iphone-background {
  position: fixed;
  padding-top: 5rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-radius: 3rem;
  width: 95%;
  height: 100%;
}

.iphone-background {
  background: url("./assets/iphone_bg.jpg") no-repeat;
  background-size: cover;
}

.layover-iphone {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
}

section {
  animation: fadeIn 0.25s linear;
}

@keyframes LightPulse {
  from {
    box-shadow: 200px 200px 100px 50px #b7e7f7;
  }
  to {
    box-shadow: 250px 250px 150px 100px #b7e7f7;
  }
}

@keyframes RightToLeft {
  from {
    translate: 0 0;
  }
  to {
    translate: -50% 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
